

.card{
    box-shadow: 0 3px 15px #b0b0b04d;
    border: 0;
    width: 1000px;
}


.formRow .row{
    margin-left: 0px;
    margin-bottom: 30px;
}

.save{
    width: 200px;
}

.exit{
    width: 135px;
}

.save, .exit{
    padding-right: 20px;
}

.form-control{
    padding: 8px;
}

button{
    border-radius: 1px;
}

.radioDiv{
    display: inline-flex;
}