{% extends 'base.html'%}

{% block navigation%}
{% include 'navbar.html'%}
{%endblock navigation%}
{%block content%}
{% include 'sidebar.html'%}
<div class="container" style="margin-top: 10px;margin-left:13%">
    <label class="form-label" style="margin-bottom: 2px;">Educational Details</label>
    <div class="card" style="height:fit-content;width:1100px">
        <form action="addEducation" method="post">
            {%csrf_token%}
            <div class="card-body" style="border: 1px solid #e6e6e6; margin: 35px;">
                <div class="row formRow">
                    <div class="row">
                        <div class="col-6">
                            {{form.grade | as_crispy_field}}
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                {{form.school | as_crispy_field}}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            {{form.school_address | as_crispy_field}}
                        </div>
                        <div class="col-6">
                            {{form.hobbies | as_crispy_field}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            {{form.aspirations | as_crispy_field}}
                        </div>
                        <div class="col-6">
                            {{form.aspirations}}
                        </div>

                    </div>
                    <div class="row">
                        <label>Key Outcome I hope be achieved</label>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="physical_health">
                            <label class="form-check-label" for="physical_health">
                            Improve Kids Physical Health
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="physical_health">
                            <label class="form-check-label" for="basic_needs">
                            Cover Basic School Needs
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="physical_health">
                            <label class="form-check-label" for="social_acceptance">
                            Increase kids confidence/social acceptance
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="physical_health">
                            <label class="form-check-label" for="basic_needs">
                            Cover basic school needs
                            </label>
                        </div>
                    </div>
                    <div class="row justify-content-end" style="padding: 28px;">
                        <div class="row justify-content-between col-6">
                            <button type="submit" class="btn btn-primary mt-3 save" >Save &
                                Continue</button>
                            <button href="#" class="btn btn-outline-primary mt-3 exit">Exit</button>
                        </div>
                    </div>
                </div>

            </div>
        </form>
    </div>
</div>
{%endblock content%}