{% extends 'base.html'%}

{% block  navigation%}
        {% include 'navbar.html'%}
{%endblock navigation%}
{%block content%}
{% include 'sidebar.html'%}
<div class="container" style="margin-top: 10px;margin-left:13%">
        <label class="form-label" style="margin-bottom: 2px;">Guardian Details</label>
        <div class="card" style="height:fit-content;">
                <div class="card-body" style="border: 1px solid #e6e6e6; margin: 35px;">
                        <form action="guardian_details" method="POST">
                                {%csrf_token%}
                                <div class="row formRow">
                                        <div class="row">
                                                <div class="col-6">
                                                        {{form.profession}}
                                                </div>
                                                <div class="col-6">
                                                        {{form.annual_income | as_crispy_field}}
                                                </div>
                                        </div>
                                        <div class="row">
                                                <div class="col-6">
                                                        {{form.family_member | as_crispy_field}}
                                                </div>
                                                <div class="col-6">
                                                        {{form.extra_allowance}}
                                                </div>
                                        </div>
                                        <div class="row justify-content-end" style="padding: 28px;">
                                                <div class="row justify-content-between col-6">
                                                        <button type="submit" class="btn btn-primary mt-3 save" >Save &
                                                                Continue</button>
                                                        <button 
                                                                class="btn btn-outline-primary mt-3 exit">Exit</button>
                                                </div>
                                        </div>
                                </div>
                        </form>
                </div>
        </div>
</div>
{%endblock content%}